<section class="mt-3">
    <link href="~/css/blood_basics_css.css" rel="stylesheet" />
    <link href="~/css/donate_blood.css" rel="stylesheet" />
    <img src="~/images/background-health.png"
         alt=""
         class="white-bg" />
    <div class="para">
        <h4 style="color: #cf3d3c">Blood Donation</h4>
        <br />

        <p class="parar">
            A single donation can save three lives. One blood donation provides
            different blood components that can help up to three different people.
            Blood banking refers to the process of collecting, separating, and
            storing blood. Blood banks collect blood and separate it into its
            various components so they can be used most effectively according to
            the needs of the patient. The donor usually gives one pint of whole
            blood. The blood is tested for blood type and infectious disease (HIV,
            Hepatitis B, Hepatitis C and Syphilis), and then the blood is
            separated into its components red blood cells, plasma and platelets.
            The stock blood is then crossmatched with patients blood before
            transfusion.
        </p>
        <br />
        <p class="parar">
            Blood donation is safe. New, disposable equipment is used for each
            donor, so there's no risk of contracting a bloodborne infection by
            donating blood. Within 24 hours of a blood donation, your body
            replaces the lost fluids. And after several weeks, your body replaces
            the lost red blood cells. Health benefits of donating blood include
            good health and reduced risk of cancer and hemochromatosis. It helps
            in reducing the risk of damage to liver and pancreas. Donating blood
            may help in improving cardiovascular health and reducing obesity.
        </p>
        <br />
        <h5 style="line-height: 25px">You are eligible to donate blood if:</h5>
        <ul>
            <li class="parar">you are in good health</li>
            <li class="parar">weigh at least 45kg</li>
            <li class="parar">you are 18 to 65 years old</li>
        </ul>
        <br />
        <h5 style="line-height: 25px">
            You are not egligible to donate blood if you:
        </h5>
        <ul>
            <li class="parar">have ever used self-injected drugs (non-prescription)</li>
        </ul>
        <br />
        <h4 style="color: #cf3d3c">About Blood</h4>
        <br />
        <p class="parar">
            Blood is a body fluid in humans and other animals that has many
            different functions, including:
        </p>
        <br />
        <ul>
            <li class="parar">transporting oxygen and nutrients to the lungs and tissues</li>
            <li class="parar">forming blood clots to prevent excess blood loss</li>
            <li class="parar">carrying cells and antibodies that fight infection</li>
            <li class="parar">
                bringing waste products to the kidneys and liver, which filter and
                clean the blood
            </li>
            <li class="parar">regulating body temperature</li>
        </ul>
        <br />
        <p class="parar">
            There are four blood groups: A, B, AB and O and two types of RH
            factor: Positive and Negative.
        </p>
        <img src="~/images/blood-group.png" alt="" />
        <p class="parar" style="font: 16px">
            Blood has four main components: plasma, red blood cells, white blood
            cells, and platelets. The blood that runs through the veins, arteries,
            and capillaries is known as whole blood, a mixture of about 55 percent
            plasma and 45 percent blood cells.
        </p>
        <img src="~/images/composition.png" alt="" />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Expiration</th>
                        <th>Storage temperature</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Whole blood</td>
                        <td>35 days</td>
                        <td>1-6</td>
                        <td rowspan="7" style="font-size: 120%">
                            These storage timings are valid if and only if they are stored
                            in appropriate condition
                        </td>
                    </tr>
                    <tr>
                        <td>Packed red blood cells (PRBCs)</td>
                        <td>42 days</td>
                        <td>1-6</td>
                    </tr>
                    <tr>
                        <td>Platelet-rich plasma (PRP)</td>
                        <td>72 hours</td>
                        <td>20-24</td>
                    </tr>
                    <tr>
                        <td>Fresh frozen plasma (FFP)</td>
                        <td>6 to 12 months</td>
                        <td>-18C or colder</td>
                    </tr>
                    <tr>
                        <td>Cryoprecipitate (Cryo-AHF)</td>
                        <td>6 to 12 months</td>
                        <td>-18C or colder</td>
                    </tr>
                    <tr>
                        <td>Platelet concentrate (PC)</td>
                        <td>5 days</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4 style="color: #cf3d3c; text-align: center">Plasma</h4>
        <p style="color: #002c3e">
            The liquid component of blood is called plasma, a mixture of water, sugar, fat, protein, and salts. The main job of the plasma is to transport blood cells throughout your body along with nutrients, waste products, antibodies, clotting proteins, chemical messengers such as hormones, and proteins that help maintain the body's fluid balance.
        </p>
        <div class="d-flex justify-content-center mb-3">
            <img src="~/images/plasma-removebg-preview.png" alt="" />
        </div>
        <h4 style="color: #cf3d3c; text-align: center">Red Blood Cells</h4>
        <p style="color: #002c3e">
            Known for their bright red color, red cells are the most abundant cell in the blood, accounting for about 40 to 45 percent of its volume. The shape of a red blood cell is a biconcave disk with a flattened center - in other words, both faces of the disc have shallow bowl-like indentations (a red blood cell looks like a donut).
        </p>
        <div class="d-flex justify-content-center mb-3">
            <img src="~/images/rbc-removebg-preview.png" alt="" />
        </div>
        <h4 style="color: #cf3d3c; text-align: center">White Blood Cells</h4>
        <p style="color: #002c3e">
            White blood cells protect the body from infection. They are much
            fewer in number than red blood cells, accounting for about 1 percent
            of your blood.
        </p>
        <div class="d-flex justify-content-center mb-3">
            <img src="~/images/wbc-removebg-preview.png" alt="" />
        </div>
        <h4 style="color: #cf3d3c; text-align: center">Platelets</h4>
        <p style="color: #002c3e">
            Unlike red and white blood cells, platelets are not actually cells but rather small fragments of cells. Platelets help the blood clotting process (or coagulation) by gathering at the site of an injury, sticking to the lining of the injured blood vessel, and forming a platform on which blood coagulation can occur. This results in the formation of a fibrin clot, which covers the wound and prevents blood from leaking out.
        </p>
        <div class="d-flex justify-content-center mb-3">
            <img src="~/images/platelets-removebg-preview.png" alt="" />
        </div>
    </div>
</section>
<div class="third">
    <div class="left-table">
        <h1 class="home-text">
            Eliminate blood scarcity in
            <span style="color: black">Bangladesh</span>
            <span class="by-part">by</span>
            <p class="by-part">
                donating your <span style="color: #e8e337">time</span> to make an
                impact,your
                <span style="color: #e8e337">blood</span>
                to save lives or your <span style="color: #e8e337">money</span>
                to create a holistic blood managemnet cycle.
            </p>
        </h1>
        <h1 style="text-align: center; margin: 50px;">Donate now</h1>
        <div style="text-align: center;">
            <a class="three-options" asp-controller="DonateBlood" asp-action="DonateBlood">
                <i class="fa-sharp fa-solid fa-droplet"
                   style="padding-right: 10px"></i>
                Blood
            </a>
            <a class="three-options" asp-controller="DonateBlood" asp-action="DonateTime">
                <i class="fa-regular fa-clock" style="padding-right: 10px"></i>Time
            </a>
            <a class="three-options" asp-controller="DonateBlood" asp-action="DonateMoney">
                <i class="fa-solid fa-hand-holding-heart"
                   style="padding-right: 10px"></i>Fundraiser
            </a>
        </div>
    </div>
</div>
<div>

</div>