<head>
    <link href="~/css/faq.css" rel="stylesheet" />
</head>
<section>
    <div class="container mb-5 mt-3">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-11 text-center">
                <h1>
                    What to do when you need <span class="text-danger">Blood?</span>
                </h1>
                <hr style="
                height: 5px;
                border:3px solid black;
              " />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center mb-3">
                <h2>First of all, Do not Panic.</h2>
                <hr />
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row d-flex justify-content-center">
            <div class="bor col-10 text-center pt-2 d-flex justify-content-center">
                <p class="text-center" style="font-size: 20px;">
                    1. Fill up the blood requisition form from the website and wait
                </p>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row d-flex justify-content-center">
            <div class="bor col-10 text-center pt-2 d-flex justify-content-center">
                <p class="text-center" style="font-size: 20px;">
                    2. Our Team will confirm blood availability in our connected hospitals.
                </p>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row d-flex justify-content-center">
            <div class="bor col-10 text-center pt-2 d-flex justify-content-center">
                <p class="text-center" style="font-size: 20px;">
                    3. If blood is available in any nearby hospital, Our team will contact you and
                    you can go to respective hospital to collect blood with
                    requisition form.
                </p>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row d-flex justify-content-center">
            <div class="bor col-10 text-center pt-2 d-flex justify-content-center">
                <p class="text-center" style="font-size: 20px;">
                    4. If blood is not available in hospitals we will help you find
                    blood donors. We will send out a live blood request on our website and someone will contact you shortly.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col text-center text-dark">
                <h1>Want to donate blood to us?</h1>
                <hr style="
                height: 5px;
                border-width: 0;
                color: black;
                background-color: black;
              " />
            </div>
        </div>
        <blockquote class="quote">
            <h5 style="text-align: center">How to do so?</h5>
            <p>1. You have to create an account in our website.</p>
            <p>
                2. Once you have created an account in our website then go to our
                donate blood page.Then fill out our form.
            </p>
            <p>
                3. Once the admins have done checking the necessary informations then
                you will be given a designated hospital to donate blood with date
                and time
            </p>
            <p>
                4. Show up at the correct date and time with the confirmation and
                donate your blood
            </p>
        </blockquote>
    </div>
</section>
<section class="back mt-5 mb-5">
    <div class="container" style="position:relative; top: 200px;">
        <div class="row justify-content-center">
            <div class="col-6">
            </div>
            <div class="col-6">
                <div class="t">
                    <p>
                        Fill in the form and send us your details.
                    </p>
                    <br />
                    <p>
                        Someone will get back to you asap. If it's an emergency,
                    </p>
                    <br />
                    <p>call us +977 98013153 or msg us at facebook</p>
                    <div style="display:flex; justify-content:center">
                        <a class="btn btn-warning text-dark" asp-controller="DonateBlood" asp-action="DonateBlood">Donate Blood</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <h4>Some Frequently asked questions</h4>
            </div>
            <blockquote class="quote">
                <h5 class="text-danger">1. Will my information be safe?</h5>
                <p class="text-secondary mt-4">
                    Yes! You information will be stored in our database and will be
                    viewed by our trusted admins only.
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">
                    2. How do you motivate people to donate blood?
                </h5>
                <p class="text-secondary mt-4">
                    We have a blood stories page. Where donaters and other people who
                    have worked with us or interacted with us have shared their
                    stories. this is available to read and may motivate you to do your
                    part on our work :)
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">
                    3. Can i learn more about blood and blood donation?
                </h5>
                <p class="text-secondary mt-4">
                    Certainly! We have a dedicated blood basics page where you can
                    gain knowledge about blood and blood donation.
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">
                    4. Is their any other way to contribute to your cause?
                </h5>
                <p class="text-secondary mt-4">
                    Yes! You can also donate money in our trust funds as well as
                    volunteer in our social campaigns and blood drives.
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">
                    5. How can i associate my hospital or blood bank with your
                    services?
                </h5>
                <p class="text-secondary mt-4">
                    In order for you to join our operation and get our services you
                    will have to contact us through our official email which can be
                    found here.
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">
                    6. Can i be a permanent member of your corporation?
                </h5>
                <p class="text-secondary mt-4">
                    Yes! Our staffs and workers are associated as donor club memebers.
                    You can be a donor club member. In order for you to be a club
                    member you will have to contact us.
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">
                    7. What are the criteria to be a club member?
                </h5>
                <p class="text-secondary mt-4">You are at least 17 years old.</p>
                <p class="text-secondary mt-4">
                    You pledge to donate blood at least twice a year.
                </p>
                <p class="text-secondary mt-4">
                    You believe in our smart blood movement and are proud to advocate
                    it to your friends and family.
                </p>
                <p class="text-secondary mt-4">
                    You like the idea of volunteering in our events, if your time
                    permits you.
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">
                    8. What are the activities of club members?
                </h5>
                <p class="text-secondary mt-4">
                    Club members host meeting to decide on the blood campgain and fund
                    raising campgains for our coutnry.They also do social work to
                    motivate and aware people about blood donations.they also work to
                    provide emergency blood requests.
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">9. Do you provide 24/7 service?</h5>
                <p class="text-secondary mt-4">
                    Yes we have admins working for us 24/7 by shifts to provide you
                    the necessary help at all times!
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">10. How can I volunteer in events?</h5>
                <p class="text-secondary mt-4">
                    In Order to volunteer in events you will have to create an account in our website then fill out our form.
                </p>
            </blockquote>
            <br />
            <blockquote class="quote">
                <h5 class="text-danger">11. How will i know about upcoming events?"</h5>
                <p class="text-secondary mt-4">
                    There will be a post in our homepage regarding upcoming events.
                </p>
            </blockquote>
        </div>
    </div>
</section>
<div class="third">
    <div class="left-table">
        <h1 class="home-text">
            Eliminate blood scarcity in
            <span style="color: black">Bangladesh</span>
            <span class="by-part">by</span>
            <p class="by-part">
                donating your <span style="color: #e8e337">time</span> to make an
                impact,your
                <span style="color: #e8e337">blood</span>
                to save lives or your <span style="color: #e8e337">money</span>
                to create a holistic blood managemnet cycle.
            </p>
        </h1>
        <h1 style="text-align: center; margin: 50px;">Donate now</h1>
        <div style="text-align: center;">
            <a class="three-options" asp-controller="DonateBlood" asp-action="DonateBlood">
                <i class="fa-sharp fa-solid fa-droplet"
                   style="padding-right: 10px"></i>
                Blood
            </a>
            <a class="three-options" asp-controller="DonateBlood" asp-action="DonateTime">
                <i class="fa-regular fa-clock" style="padding-right: 10px"></i>Time
            </a>
            <a class="three-options" asp-controller="DonateBlood" asp-action="DonateMoney">
                <i class="fa-solid fa-hand-holding-heart"
                   style="padding-right: 10px"></i>Fundraiser
            </a>
        </div>
    </div>
</div>
